@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
}

html {
  font-family: "Fira Sans", Ubuntu, Helvetica, Arial, sans-serif;
}

#pokedex-page {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 3.9rem;
  margin: 5%;
}

a {
  text-decoration: none;
}

/* Type colors */

.grass {
  color: #5cb737;
}

.poison {
  color: #88447a;
}

.fire {
  color: #d52100;
}

.flying {
  color: #556dff;
}

.water {
  color: #0080ff;
}

.bug {
  color: #83901a;
}

.normal {
  color: #797964;
}

.electric {
  color: #c90;
}

.ground {
  color: #bf9926;
}

.fighting {
  color: #a84d3d;
}

.psychic {
  color: #ff227a;
}

.rock {
  color: #a59249;
}

.steel {
  color: #8e8ea4;
}

.ice {
  color: #0af;
}

.ghost {
  color: #5454b3;
}

.dragon {
  color: #4e38e9;
}
